<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<meta name="description" content="SEO Description">
	<link rel="stylesheet" href="css/inline.css">
</head>
<body>
<div class="global__wrapper">
	{% block content %}
		
	{% endblock %}
	<!-- ========================================================================== -->
	<!-- =============================== footer =================================== -->
	<!-- ========================================================================== -->
	<footer class="footer">
		<div class="footer__main">
			<div class="footer__logo">
				<a href="" class="footer__logo__img">
					<img src="img/logo.svg" alt="">
				</a>
				<div class="footer__logo__desc">Наполнители для <br> молочной продукции</div>
			</div>
			<div class="footer__nav">
				<ul>
					<li><a href="">Бренд Ilmix</a></li>
					<li><a href="">Статьи</a></li>
					<li><a href="">Новости</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
				<a href="" class="footer__nav__lang">Eng</a>
			</div>
			<div class="footer__socials">
				<a href="">
					<img src="img/vk-white.svg" alt="">
				</a>
				<a href="">
					<img src="img/facebook-white.svg" alt="">
				</a>
				<a href="">
					<img src="img/youtube-white.svg" alt="">
				</a>
				<a href="">
					<img src="img/instagram-white.svg" alt="">
				</a>
			</div>
			<div class="footer__contacts">
				<a href="tel:8 (800) 100-90-36" class="footer__phone">8 (800) 100-90-36</a>
				<a href="mailto:info@nadollc.com" class="footer__email">info@nadollc.com</a>
			</div>
		</div>
		<div class="footer__politics">
			<a href="" class="footer__politics__link">Политика конфинденциальности</a>
		</div>
	</footer>
	<!-- ========================================================================== -->
	<!-- =========================== END footer =================================== -->
	<!-- ========================================================================== -->

	<!-- ========================================================================== -->
	<!-- ================================= nav ==================================== -->
	<!-- ========================================================================== -->
	<section class="nav">
		<div class="nav__cloud right">
			<img src="img/nav-cloud-right.svg" alt="">
		</div>
		<div class="nav__cloud left">
			<img src="img/nav-cloud-left.svg" alt="">
		</div>
		<div class="nav__content__wrapper">
			<div class="nav__content">
				<div class="nav__links">
					<ul>
						<li><a href="">Главная</a></li>
						<li><a href="">бренд ilmix</a></li>
						<li><a href="">Производство</a></li>
						<li><a href="">коллекции</a></li>
						<li><a href="">партнёрам</a></li>
						<li><a href="">блог</a></li>
						<li><a href="">контакты</a></li>
					</ul>
				</div>
				<div class="nav__contacts">
					<a href="tel:8 (800) 000-00-00" class="nav__phone">8 (800) 000-00-00</a>
					<a href="mailto:info@ilmix.com" class="nav__email">info@ilmix.com</a>
				</div>
				<div class="nav__socials">
					<a href="">
						<img src="img/vk.svg" alt="">
					</a>
					<a href="">
						<img src="img/facebook.svg" alt="">
					</a>
					<a href="">
						<img src="img/youtube.svg" alt="">
					</a>
					<a href="">
						<img src="img/instagram.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		
	</section>
	<!-- ========================================================================== -->
	<!-- ============================= END nav ==================================== -->
	<!-- ========================================================================== -->
</div>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/main.js"></script>
</body>
</html>
