@red: #FF0417;
@black: #3F4A5B;

@import "libs/jquery.fancybox.min.css";

@import "partials/_about.less";
@import "partials/_formsec.less";
@import "partials/_sec1.less";
@import "partials/_type.less";
@import "partials/_footer.less";
@import "partials/_preims.less";
@import "partials/_develop.less";
@import "partials/_pack.less";
@import "partials/_sec2.less";
@import "partials/_whatelse.less";
@import "partials/_nav.less";
@import "partials/_modals.less";


label.error {
    display: none !important;
}