{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}
<!-- ========================================================================== -->
<!-- ================================ heromain ================================ -->
<!-- ========================================================================== -->
<section class="heromain">
    <div class="heromain__header">
        <div class="heromain__logoblock">
            <div class="heromain__logoblock__hamburger"></div>
            <a href="" class="heromain__logoblock__logo">
                <img class="heromain__logoblock__logo__img-white" src="img/logo.svg" alt="">
                <img class="heromain__logoblock__logo__img-black" src="img/logo-black.svg" alt="">
            </a>
            <div class="heromain__logoblock__logodesc">Наполнители для <br> молочной продукции</div>
        </div>
        <div class="heromain__navbar">
            <div class="heromain__navbar__links">
                <ul>
                    <li><a href="">Бренд Ilmixa</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <a href="" class="heromain__navbar__lang">ENG</a>
        </div>
        <a href="tel:8 (800) 100-90-36" class="heromain__navbar__phone">8 (800) 100-90-36</a>
    </div>
    <div class="heromain__navbarbig">
        <ul>
            <li><a href="">ДЛЯ МОЛОЧНОГО ПРОИЗВОДСТВА</a></li>
            <li><a href="">ДЛЯ ПРОИЗВОДСТВА МОРОЖЕНОГО</a></li>
            <li><a href="">ДЛЯ КОНДИТЕРСКОГО ПРОИЗВОДСТВА</a></li>
            <li><a href="">HORECA</a></li>
            <li><a href="">ПРОИЗВОДСТВО ПЮРЕ</a></li>
            <li><a href="">ПОСЫПКИ</a></li>
        </ul>
    </div>
    <div class="heromain__slider owl-carousel">
        <!-- heromain__slide -->
        <div class="heromain__slide" style="background-image: url(img/hero-slide.jpeg);">
            <div class="heromain__slide__title__before">Новая коллекция</div>
            <div class="heromain__slide__title">Заголовок</div>
        </div>
        <!-- END heromain__slide -->
        <!-- heromain__slide -->
        <div class="heromain__slide" style="background-image: url(img/hero-slide.jpeg);">
            <div class="heromain__slide__title__before">Новая коллекция</div>
            <div class="heromain__slide__title">Заголовок</div>
        </div>
        <!-- END heromain__slide -->
        <!-- heromain__slide -->
        <div class="heromain__slide" style="background-image: url(img/hero-slide.jpeg);">
            <div class="heromain__slide__title__before">Новая коллекция</div>
            <div class="heromain__slide__title">Заголовок</div>
        </div>
        <!-- END heromain__slide -->
    </div>
</section>
<!-- ========================================================================== -->
<!-- ============================ END heromain ================================ -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ============================== about ===================================== -->
<!-- ========================================================================== -->
<section class="about" style="background-image: url(img/about.jpeg);">
    <h2 class="about__title">о компании</h2>
</section>
<!-- ========================================================================== -->
<!-- =========================== END about ==================================== -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ============================ formsec ===================================== -->
<!-- ========================================================================== -->
<section class="formsec">
    <div class="formsec__parallax-left" data-paralax-scene>
        <img src="img/formsec__parallax-left.png" alt="" data-depth="0.2">
    </div>
    <div class="formsec__parallax-right" data-paralax-scene>
        <img src="img/formsec__parallax-right.png" alt="" data-depth="0.3">
    </div>
    <div class="container">
        <div class="formsec__content">
            <div class="formsec__title__before">У Вас появились вопросы?</div>
            <h2 class="formsec__title">Спросите нас</h2>
            <div class="formsec__formblock">
                <form action="" class="formsec__formblock__form" data-form-validate='ask-us'>
                    <div class="formsec__formblock__form__inputgroup">
                        <label for="">Введите ваше имя:</label>
                        <input type="text" placeholder="Введите имя" name="name">
                    </div>
                    <div class="formsec__formblock__form__inputgroup">
                        <label for="">Введите ваш телефон:</label>
                        <input type="text" placeholder="+7 899 999 99 09" name="phone">
                    </div>
                    <div class="formsec__formblock__form__inputgroup">
                        <button class="btn">Отправить заявку</button>
                    </div>
                    <div class="formsec__formblock__form__politics">
                        <label for="1" class="checkbox">
                            <input type="checkbox" id="1">
                            <span class="checkbox__custom">
                                <span class="checkbox__custom__circle"></span>
                            </span>
                        </label>
                        <div class="formsec__formblock__form__politics__text">Оставляя заявку Вы соглашаетесь с <a href="">политикой конфинденциальности</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ======================== END formsec ===================================== -->
<!-- ========================================================================== -->

{% endblock %}
