{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}


<!-- ========================================================================== -->
<!-- ================================ heropage ================================ -->
<!-- ========================================================================== -->
<section class="heropage" style="background-image: url(img/heropage-bg.jpeg);">
    <div class="heromain__header">
        <div class="heromain__logoblock">
            <div class="heromain__logoblock__hamburger"></div>
            <a href="" class="heromain__logoblock__logo">
                <img class="heromain__logoblock__logo__img-white" src="img/logo.svg" alt="">
                <img class="heromain__logoblock__logo__img-black" src="img/logo-black.svg" alt="" style="visibility: visible;">
            </a>
            <div class="heromain__logoblock__logodesc">Наполнители для <br> молочной продукции</div>
        </div>
        <div class="heromain__navbar">
            <div class="heromain__navbar__links">
                <ul>
                    <li><a href="">Бренд Ilmixa</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <a href="" class="heromain__navbar__lang">ENG</a>
        </div>
        <a href="tel:8 (800) 100-90-36" class="heromain__navbar__phone">8 (800) 100-90-36</a>
    </div>
    <div class="heropage__content">
        <div class="container1920">
            <div class="heropage__content__row">
                <div class="heropage__content__text">
                    <h1 class="heropage__title">Наполнители для молочной продукции</h1>
                    <p class="heropage__desc">Разработка наполнителей для молочной продукции ведется индивидуально под каждого клиента</p>
                    <button class="btn" data-modal-show="1">Оставить заявку</button>
                </div>
                <div class="heropage__content__img" >
                    <div class="heropage__content__img__parallax__wrapper">
                        <div class="heropage__content__img__parallax" data-paralax-scene>
                            <div class="heropage__content__img__parallax__image" data-depth="0.2" style="background-image: url(img/heropage-cloud.svg);"></div>
                            <div class="heropage__content__img__parallax__image" data-depth="0.5" style="background-image: url(img/heropage-img.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- ========================================================================== -->
<!-- ============================ sec1 ================================ -->
<!-- ========================================================================== -->
<section class="sec1">
    <div class="sec1__parallax__wrapper">
        <div class="sec1__parallax" data-paralax-scene>
            <div class="sec1__parallax__img" style="background-image: url(img/sec1-parallax1-1.png);" data-depth="0.2"></div>
            <div class="sec1__parallax__img" style="background-image: url(img/sec1-parallax1-2.png);" data-depth="0.5"></div>
        </div>
    </div>
    <div class="sec1__parallax__wrapper">
        <div class="sec1__parallax" data-paralax-scene>
            <div class="sec1__parallax__img" style="background-image: url(img/sec1-parallax2-1.png);" data-depth="0.2"></div>
            <div class="sec1__parallax__img" style="background-image: url(img/sec1-parallax2-2.png);" data-depth="0.5"></div>
            <div class="sec1__parallax__img" style="background-image: url(img/sec1-parallax2-3.png);" data-depth="1"></div>
        </div>
    </div>
   <div class="container1920">
       <div class="sec1__content">
            <div class="sec1__img" style="background-image: url(img/sec1__img.png);"></div>
             <div class="sec1__text">
                 <h2 class="sec__title">Наполнители для молочной продукции</h2>
                 <div class="sec1__img-mobile" style="background-image: url(img/sec1__img.png);"></div>
                 <img src="img/sec1__img.png" alt="" class="sec1__img-mobile">
                 <div class="sec1__text__items">
                     <div class="sec1__text__item">
                         <div class="sec1__text__item__icon" style="background-image: url(img/sec1-item-1.png);"></div>
                         <div class="sec1__text__item__text">
                             <div class="sec1__text__item__title">Витамины в составе</div>
                             <div class="sec1__text__item__desc">Cодержат в своем составе большое количество витаминов, макро- и микроэлементов, пектины и клетчатку, необходимые для организма человека</div>
                         </div>
                     </div>
                     <div class="sec1__text__item">
                         <div class="sec1__text__item__icon" style="background-image: url(img/sec1-item-2.png);"></div>
                         <div class="sec1__text__item__text">
                             <div class="sec1__text__item__title">Яркий вкус</div>
                             <div class="sec1__text__item__desc">Помогают сделать вкус молочных продуктов значительно ярче, разнообразней и полноценне</div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
   </div> 
</section>
<!-- ========================================================================== -->
<!-- ============================ END sec1 ==================================== -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ================================ type ==================================== -->
<!-- ========================================================================== -->
<section class="type" style="background-image: url(img/type__bg.jpeg);">
    <div class="container1920">
        <div class="type__content">
            <h2 class="sec__title center">Виды продукции</h2>
            <div class="type__slider__wrapper">
                
                    <div class="type__slider owl-carousel">
                        <!-- type__slider__slide -->
                        <div class="type__slider__slide">
                            <div class="type__slider__slide__img" style="background-image: url(img/type_1.jpeg);"></div> 
                            <div class="type__slider__slide__text">
                                <div class="type__slider__slide__title">Наполнители с кусочками фруктов и ягод</div>
                                <a href="" class="btn">О продукте</a>
                            </div>
                        </div>
                        <!-- END type__slider__slide -->
                        <!-- type__slider__slide -->
                        <div class="type__slider__slide">
                            <div class="type__slider__slide__img" style="background-image: url(img/type_1.jpeg);"></div> 
                            <div class="type__slider__slide__text">
                                <div class="type__slider__slide__title">Гомогенные наполнители</div>
                                <a href="" class="btn">О продукте</a>
                            </div>
                        </div>
                        <!-- END type__slider__slide -->
                        <!-- type__slider__slide -->
                        <div class="type__slider__slide">
                            <div class="type__slider__slide__img" style="background-image: url(img/type_1.jpeg);"></div> 
                            <div class="type__slider__slide__text">
                                <div class="type__slider__slide__title">Гомогенные наполнители</div>
                                <a href="" class="btn">О продукте</a>
                            </div>
                        </div>
                        <!-- END type__slider__slide -->
                        <!-- type__slider__slide -->
                        <div class="type__slider__slide">
                            <div class="type__slider__slide__img" style="background-image: url(img/type_1.jpeg);"></div> 
                            <div class="type__slider__slide__text">
                                <div class="type__slider__slide__title">Гомогенные наполнители</div>
                                <a href="" class="btn">О продукте</a>
                            </div>
                        </div>
                        <!-- END type__slider__slide -->
                        <!-- type__slider__slide -->
                        <div class="type__slider__slide">
                            <div class="type__slider__slide__img" style="background-image: url(img/type_1.jpeg);"></div> 
                            <div class="type__slider__slide__text">
                                <div class="type__slider__slide__title">Гомогенные наполнители</div>
                                <a href="" class="btn">О продукте</a>
                            </div>
                        </div>
                        <!-- END type__slider__slide -->
                    </div>
                    <div class="type__slider__dots"></div>
                </div>
            </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ============================ END type ==================================== -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ============================== preims ==================================== -->
<!-- ========================================================================== -->
<section class="preims">
    <div class="preims__parallax__wrapper">
        <div class="preims__parallax" data-paralax-scene>
            <div class="preims__parallax__img" style="background-image: url(img/preims_parallax_img_1.png);"></div>
        </div>
    </div>
    <div class="container1920">
        <div class="preims__content">
            <h2 class="sec__title center">Преимущества наполнителей для молочной продукции:</h2>
            <div class="preims__items">
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims_1.png);"></div>
                    <div class="preims__item__text">
                        Наполнители повышают биологическую ценность молочных продуктов
                    </div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims_2.png);"></div>
                    <div class="preims__item__text">
                        Наполнители повышают биологическую ценность молочных продуктов
                    </div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims_3.png);"></div>
                    <div class="preims__item__text">
                        Наполнители повышают биологическую ценность молочных продуктов
                    </div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims_4.png);"></div>
                    <div class="preims__item__text">
                        Наполнители повышают биологическую ценность молочных продуктов
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ========================== END preims ==================================== -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ============================= develop ==================================== -->
<!-- ========================================================================== -->
<section class="develop" style="background-image: url(img/develop_bg.jpeg);">
    <div class="develop__parallax__wrapper">
        <div class="develop__parallax" data-paralax-scene>
            <div class="develop__parallax__img" style="background-image: url(img/develop__parallax1.png);" data-depth="0.2"></div>
        </div>
    </div>
    <div class="develop__parallax__wrapper">
        <div class="develop__parallax" data-paralax-scene>
            <div class="develop__parallax__img" style="background-image: url(img/develop__parallax2.png);" data-depth="0.5"></div>
        </div>
    </div>
    <div class="container1920">
       <div class="develop__content__wrapper">
           <div class="develop__content">
               <div class="develop__content__img__wrapper">
                    <div class="develop__content__img" style="background-image: url(img/develop_img.png);"></div>
               </div>
                <div class="develop__content__text">
                    <h2 class="sec__title">Наш отдел разработок</h2>
                    <img src="img/develop_img.png" alt="" class="develop__content__img__mobile">
                    <div class="develop__content__fio">Оксана Бодяжина</div>
                    <div class="develop__content__role">Руководитель экспериментальной лаборатории</div>
                    <div class="develop__content__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit justo metus nulla lectus fermentum eu pellentesque. Scelerisque sapien ullamcorper leo lectus sit et tellus faucibus at. Sollicitudin tempor, volutpat, nisl, pharetra adipiscing mattis non varius ut. Amet, maecenas et purus viverra felis, laoreet. 
                        Magna nisi, pellentesque purus eu sagittis et consequat. Ullamcorper tristique ligula aliquam velit cursus imperdiet sed aliquet. Pulvinar egestas ut sagittis lacus auctor.
                    </div>
                </div>
           </div>
       </div> 
    </div>
</section> 
<!-- ========================================================================== -->
<!-- ========================= END develop ==================================== -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ============================= pack ======================================= -->
<!-- ========================================================================== -->
<section class="pack">
    <div class="pack__parallax_wrapper">
        <div class="pack__parallax" data-paralax-scene="">
            <div class="pack__parallax__img" style="background-image: url(img/pack__parallax_1.png);" data-depth="0.5"></div>
        </div>
    </div>
    <div class="container1920">
        <div class="pack__content">
            <div class="pack__content__text">
                <h2 class="sec__title">Надежность упаковки</h2>
                <img src="img/pack__img.png" alt="" class="pack__content__img__mobile">
                <div class="pack__content__text_items">
                    <div class="pack__content__text__item">
                        <div class="pack__content__text__item__icon" style="background-image: url(img/pack__item_1.png);"></div>
                        <div class="pack__content__text__item__text">
                            <div class="pack__content__text__item__title">Первое преимущество</div>
                            <div class="pack__content__text__item__desc">Описание преимущества в своем составе большое количество витаминов, макро-и микроэлементов, пектины и клетчатку, необходимые для организма человека</div>
                        </div>
                    </div>
                    <div class="pack__content__text__item">
                        <div class="pack__content__text__item__icon" style="background-image: url(img/pack__item_1.png);"></div>
                        <div class="pack__content__text__item__text">
                            <div class="pack__content__text__item__title">Первое преимущество</div>
                            <div class="pack__content__text__item__desc">Описание преимущества в своем составе большое количество витаминов, макро-и микроэлементов, пектины и клетчатку, необходимые для организма человека</div>
                        </div>
                    </div>
                    <div class="pack__content__text__item">
                        <div class="pack__content__text__item__icon" style="background-image: url(img/pack__item_1.png);"></div>
                        <div class="pack__content__text__item__text">
                            <div class="pack__content__text__item__title">Первое преимущество</div>
                            <div class="pack__content__text__item__desc">Описание преимущества в своем составе большое количество витаминов, макро-и микроэлементов, пектины и клетчатку, необходимые для организма человека</div>
                        </div>
                    </div>
                    <div class="pack__content__text__item">
                        <div class="pack__content__text__item__icon" style="background-image: url(img/pack__item_1.png);"></div>
                        <div class="pack__content__text__item__text">
                            <div class="pack__content__text__item__title">Первое преимущество</div>
                            <div class="pack__content__text__item__desc">Описание преимущества в своем составе большое количество витаминов, макро-и микроэлементов, пектины и клетчатку, необходимые для организма человека</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pack__content__img">
                <img src="img/pack__img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ========================= END pack ======================================= -->
<!-- ========================================================================== -->

<!-- ========================================================================== -->
<!-- ============================= sec2 ======================================= -->
<!-- ========================================================================== -->
<section class="sec2">
    <div class="sec2__parallax__wrapper">
        <div class="sec2__parallax" data-paralax-scene>
            <div class="sec2__parallax__img" style="background-image: url(img/sec2__parallax1_1.png);" data-depth="0.2"></div>
            <div class="sec2__parallax__img" style="background-image: url(img/sec2__parallax1_2.png);" data-depth="0.5"></div>
            <div class="sec2__parallax__img" style="background-image: url(img/sec2__parallax1_3.png);" data-depth="0.7"></div>
        </div>
    </div>
    <div class="sec2__parallax__wrapper">
        <div class="sec2__parallax" data-paralax-scene="">
            <div class="sec2__parallax__img" style="background-image: url(img/sec2__parallax2_1.png);" data-depth="0.2"></div>
            <div class="sec2__parallax__img" style="background-image: url(img/sec2__parallax2_2.png);" data-depth="0.5"></div>
        </div>
    </div>
    <div class="container1920">
        <div class="sec2__content">
            <h2 class="sec__title center">Наполнители используют для добавления в следующие молочные продукты:</h2>
            <div class="sec2__items">
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_1.png);"></div>
                    <div class="sec2__item__title">Йогурты питьевые</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_2.png);"></div>
                    <div class="sec2__item__title">Йогурты послойные</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_3.png);"></div>
                    <div class="sec2__item__title">Йогурты десертные</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_4.png);"></div>
                    <div class="sec2__item__title">Молочные коктейли</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_5.png);"></div>
                    <div class="sec2__item__title">Сывороточные напитки</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_6.png);"></div>
                    <div class="sec2__item__title">Творожки</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_7.png);"></div>
                    <div class="sec2__item__title">Творожные глазированные сырки</div>
                </div>
                <div class="sec2__item">
                    <div class="sec2__item__icon" style="background-image: url(img/sec2_8.png);"></div>
                    <div class="sec2__item__title">Плавленные сыры</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ========================= END sec2 ======================================= -->
<!-- ========================================================================== -->


<!-- ========================================================================== -->
<!-- ===========================  whatelse ==================================== -->
<!-- ========================================================================== -->
<section class="type whatelse">
    <div class="container1920">
        <div class="type__content">
            <h2 class="sec__title center">Что мы еще производим</h2>
            <div class="type__slider__wrapper">
                <div class="type__slider owl-carousel">
                    <!-- type__slider__slide -->
                    <div class="type__slider__slide">
                        <div class="type__slider__slide__img" style="background-image: url(img/whatelse_1.jpeg);"></div> 
                        <div class="type__slider__slide__text">
                            <div class="type__slider__slide__title">Наполнители с кусочками фруктов и ягод</div>
                            <div class="type__slider__slide__desc">Фруктовые кубики на основе фруктовых пюре</div>
                            <a href="" class="btn">О продукте</a>
                        </div>
                    </div>
                    <!-- END type__slider__slide -->
                    <!-- type__slider__slide -->
                    <div class="type__slider__slide">
                        <div class="type__slider__slide__img" style="background-image: url(img/whatelse_2.jpeg);"></div> 
                        <div class="type__slider__slide__text">
                            <div class="type__slider__slide__title">Наполнители с кусочками фруктов и ягод</div>
                            <div class="type__slider__slide__desc">Фруктовые кубики на основе фруктовых пюре</div>
                            <a href="" class="btn">О продукте</a>
                        </div>
                    </div>
                    <!-- END type__slider__slide -->
                    <!-- type__slider__slide -->
                    <div class="type__slider__slide">
                        <div class="type__slider__slide__img" style="background-image: url(img/whatelse_3.jpeg);"></div> 
                        <div class="type__slider__slide__text">
                            <div class="type__slider__slide__title">Наполнители с кусочками фруктов и ягод</div>
                            <div class="type__slider__slide__desc">Фруктовые кубики на основе фруктовых пюре</div>
                            <a href="" class="btn">О продукте</a>
                        </div>
                    </div>
                    <!-- END type__slider__slide -->
                    <!-- type__slider__slide -->
                    <div class="type__slider__slide">
                        <div class="type__slider__slide__img" style="background-image: url(img/whatelse_4.jpeg);"></div> 
                        <div class="type__slider__slide__text">
                            <div class="type__slider__slide__title">Наполнители с кусочками фруктов и ягод</div>
                            <div class="type__slider__slide__desc">Фруктовые кубики на основе фруктовых пюре</div>
                            <a href="" class="btn">О продукте</a>
                        </div>
                    </div>
                    <!-- END type__slider__slide -->
                    <!-- type__slider__slide -->
                    <div class="type__slider__slide">
                        <div class="type__slider__slide__img" style="background-image: url(img/whatelse_5.jpeg);"></div> 
                        <div class="type__slider__slide__text">
                            <div class="type__slider__slide__title">Наполнители с кусочками фруктов и ягод</div>
                            <div class="type__slider__slide__desc">Фруктовые кубики на основе фруктовых пюре</div>
                            <a href="" class="btn">О продукте</a>
                        </div>
                    </div>
                    <!-- END type__slider__slide -->
                </div>
                <div class="type__slider__dots"></div>
            </div>
        </div>
    </div>
</section>
<!-- ========================================================================== -->
<!-- ======================== END whatelse ==================================== -->
<!-- ========================================================================== -->
{% endblock %}
